.main {
    background-image: url('../../assets/BackgroundImgDesktop.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main h1 {
    text-align: center;
    color: #fff;
    max-width: 80%;
    font-size: 3.5rem;
    margin-top: -200px;
  }
  
  